/* css styles */

.navbar {
  background-color: #6A89A7;
}

.navbar a { 
  color: #FFFFFF; 
}

.navbar-nav .nav-link {
    font-size: 14px;
}

body {
    font-size: 12px; 
}

.quarto-links {
  margin-top: 10px;
  margin-bottom: 10px;
}

.publications {
    .paper {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .body {
            flex: 1 0 85%;
        }

        .metadata {
            flex: 1 0 15%;
        }

       .listing-title {
            font-weight: 500;
            font-size: 1em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }
        
        .listing-author {
            font-weight: 300;
            font-size: 0.8em;
            margin-bottom: 0.3em;
        }
        
        .citation {
            font-weight: 300;
            font-size: 0.8em;
            margin-bottom: 0.3em;
        }
        
        .listing-date {
            font-weight: 300;
            font-size: 0.8em;
            text-align: right;
        }

        ul.publication-links {
            padding: 0 0.5em;
            margin-bottom: 0;

            .publication-link {
                white-space: nowrap;
                margin: 0;
                padding: 0.0em .5em 0.0em 0.5em;
                font-size: 0.6em;
            }
        }
    }
}

.talks {
    .talk-entry {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .body {
            flex: 1 0 85%;
        }

        .metadata {
            flex: 1 0 15%;
        }

        .listing-title {
            font-weight: 500;
            font-size: 1em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }

        .listing-event_short {
            font-weight: 300;
            font-size: 0.8em;
            margin-bottom: 0.3em;
        }

        .listing-date {
            font-weight: 300;
            font-size: 0.8em;
            text-align: right;
        }

        ul.talk-links {
            padding: 0 0.5em;
            margin-bottom: 0;

            .talk-link {
                white-space: nowrap;
                margin: 0;
                padding: 0.0em .5em 0.0em 0.5em;
                font-size: 0.6em;
            }
        }
    }
}

.software {
  
    .package {
    
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .body {
            flex: 1 0 85%;
        }

        .metadata {
            flex: 1 0 15%;
        }

       .title {
            font-weight: 500;
            font-size: 1.2em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }
        
       .subtitle {
            font-weight: 300;
            font-size: 1em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }

        .authors {
            font-weight: 300;
            font-size: 0.8em;
            margin-bottom: 0.3em;
        }
        
        ul.publication-links {
            padding: 0 0.5em;
            margin-bottom: 0.5em;

            .publication-link {
                white-space: nowrap;
                margin: 0;
                padding: 0.0em .5em 0.0em 0.5em;
                font-size: 0.6em;
            }
        }

    }
}

div.quarto-post {

  .body {
      flex-basis: 80%;
  }

  
  .metadata {
      flex-basis: 20%;
  }
  

  .listing-author, .listing-date {
      font-size: .8em
  }
  
  
  .listing-title {
      font-weight: bold;
      font-size: 1.2em;
  }
  
}
